.about {
  width: auto;
  background-image: url(../../img/background-bottom.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about__wrapper {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
}

.about__title {
  font: {
    family: "HelveticaLight", "Arial", sans-serif;
    weight: 300;
    size: 34px;
  }
  line-height: 53px;
  color: $text-dark;
  width: 16.5%;
  max-width: 210px;
  margin: 0;
  padding-top: 82px;
  margin-bottom: 20px;
}

.about__title--big {
  font: {
    family: "HelveticaBold", "Arial", sans-serif;
    weight: bold;
    size: 53px;
  }
  line-height: 40px;
  color: $accent-dark;
}

.about__text {
  @include basic-text;
  color: $text-dark;
  width: 46%;
  max-width: 500px;
  text-align: left;
  font-weight: normal;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.about__link {
  color: $accent-dark;
  border-color: $accent-dark;
  margin-bottom: 95px;

  &:hover {
    color: $accent-light;
    border-color: $accent-light;
  }
}

@media (max-width: 425px) {
  .about__text {
    width: 100%;
  }
}
