.logo {
  padding-top: 15px;
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
  margin: 0 auto;
  z-index: 4;
}

.logo--single {
  padding-top: 15px;
  display: none;
  max-width: 100%;
  height: auto;
  position: relative;
  margin: 0 auto;
}

.gradient {
  padding-top: 15px;
  display: block;
  max-width: 100%;
  height: auto;
  position: absolute;
  margin: 0 auto;
}

.logo-wrap {
  position: relative;
}

.logo-wrap::after {
  content: "";
  position: absolute;
  max-width: 923px;
  width: 100%;
  height: 100px;

  margin-top: -22px;

  border-top-right-radius: 38% 30%;
  border-top-left-radius: 38% 30%;
  background: radial-gradient(ellipse at 50% 0%, rgba(19, 71, 8, 1) 0%,rgba(0, 0, 0, 0) 73%);
}

@media (max-width: 425px) {
  .logo-wrap::after {
    display: none;
  }

  .logo {
    display: none;
  }

  .logo--single {
    display: block;
  }
}
