// .menu {
//   @include list-norm;
//   display: flex;
//   flex-wrap: wrap;
//   width: 100%;
//   margin: 0 auto;
//   max-width: 510px;
//   justify-content: space-between;
// }

.menu__item {
  font-family: "Nimbus", "Arial", sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 40px;
  padding: 11px 18px 13px 18px;
  box-sizing: border-box;
}

.menu__item--light {
  color: $bgr-light;

  &:hover {
    background-color: $accent-opposite;
  }
}

.menu__item--dark {
  color: $text-gray;

  &:hover {
    color: $accent-light;
  }
}

@media (max-width: $tablet) {
  .menu__item--light {
    font-size: 16px;
    line-height: 35px;
  }
}

@media (max-width: 425px) {
  .menu__item {
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $accent-dark;
    padding-left: 0;
    padding-right: 0;
  }
}
