body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

@font-face {
  font-weight: bold;
  font-family: "Nimbus";
  font-style: normal;
  src: url("../fonts/NIMBSTB.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: normal;
  font-family: "HelveticaMedium";
  font-style: normal;
  src: url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 900;
  font-family: "HelveticaBlack";
  font-style: normal;
  src: url("../fonts/HelveticaNeueCyr-Black.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-family: "HelveticaLight";
  font-style: normal;
  src: url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-family: "HelveticaBold";
  font-style: normal;
  src: url("../fonts/HelveticaNeueCyr-bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-family: "ArialMT";
  font-style: normal;
  src: url("../../fonts/ArialMT.woff") format("woff");
  font-display: swap;
}
