@mixin basic-text {
  font: {
    family: "ArialMT", sans-serif;
    weight: normal;
    size: 14px;
  }
  line-height: 25px;
}

@mixin title-text {
  font: {
    family: "HelveticaLight", "Arial", sans-serif;
    weight: 300;
    size: 34px;
  }
  line-height: 30px;
  color: $text-light;
}

@mixin list-norm {
  list-style: none;
  padding: 0;
  margin: 0;
}
